.Ylareuna {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.nimi {
  border: 1px solid white;
}

.osoite {
  border: 1px solid white;
}
.kuva {
  /*
  width: 100px;
  height: 100px;
  */
}
